body {
  background-color: #609f9e;
  color: rgb(40, 43, 44);
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: 1px;
  font-family: "Ubuntu", sans-serif;
}
footer {
  color: rgb(24, 22, 22);
  margin: 20px;
  padding: 20px;
  border-top: 1px solid rgb(179, 175, 175);
}
h1 {
  color: rgb(39, 37, 37);
}
header a {
  text-decoration: none;
  color: rgb(87, 80, 80);
  margin: 10px;
}
header a:hover {
  color: rgb(83, 134, 83);
  border-bottom: 1px solid rgb(19, 14, 14);
}
.portrait {
  margin: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-content {
  flex-grow: 1;
}

form {
  margin: 25px;
  margin-left: 45px;
  padding-left: 10px;
}
#location,
#btn {
  height: 35px;
  cursor: pointer;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
}
#btn {
  background-color: rgb(73, 77, 77);
  color: white;
}
.container {
  margin: auto;
  max-width: 600px;
  height: 300px;
}
#massege-1,
#massege-2 {
  color: rgb(29, 31, 31);
  letter-spacing: 1px;
  font-size: 23px;
}
.img_icon {
  margin: 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
